<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" preserve-order="true"><!-- thread-count="2" parallel="tests"-->
    <test name="ChromeTest" preserve-order="true">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="com.alexnova.nidhishah.tests.RegistrationPageTests"></class>
            <class name="com.alexnova.nidhishah.tests.LoginPageTests"></class>
<!--            <class name="com.alexnova.nidhishah.tests.SearchPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.ProductAddTOCartTests"></class>-->
            <class name="com.alexnova.nidhishah.tests.CheckoutTests"></class>
        </classes>
    </test>
   <test name="FireFoxTest">
        <parameter name="browserName" value="Firefox"></parameter>
         <classes>
<!--            <class name="com.alexnova.nidhishah.tests.RegistrationPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.LoginPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.SearchPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.ProductAddTOCartTests"></class>-->
            <class name="com.alexnova.nidhishah.tests.CheckoutTests"></class>
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="browserName" value="EdgeExplore" />
        <classes>
<!--            <class name="com.alexnova.nidhishah.tests.RegistrationPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.LoginPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.SearchPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.ProductAddTOCartTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.CheckoutTests"></class>-->
        </classes>
    </test>
</suite>