<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" thread-count="2" parallel="tests">
<!--    <test name="ChromeTest">-->
<!--        <parameter name="browserName" value="Chrome"></parameter>-->
<!--        <classes>-->
<!--&lt;!&ndash;            <class name="com.alexnova.nidhishah.tests.RegistrationPageTests"></class>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.alexnova.nidhishah.tests.LoginPageTests"></class>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.alexnova.nidhishah.tests.SearchPageTests"></class>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.alexnova.nidhishah.tests.ProductAddTOCartTests"></class>&ndash;&gt;-->
<!--            <class name="com.alexnova.nidhishah.tests.CheckoutTests"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--   <test name="FireFoxTest">-->
<!--        <parameter name="browserName" value="Firefox"></parameter>-->
<!--         <classes>-->
<!--&lt;!&ndash;            <class name="com.alexnova.nidhishah.tests.RegistrationPageTests"></class>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.alexnova.nidhishah.tests.LoginPageTests"></class>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.alexnova.nidhishah.tests.SearchPageTests"></class>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.alexnova.nidhishah.tests.ProductAddTOCartTests"></class>&ndash;&gt;-->
<!--            <class name="com.alexnova.nidhishah.tests.CheckoutTests"></class>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="EdgeTest">
        <parameter name="browserName" value="EdgeExplore" />
        <classes>
<!--            <class name="com.alexnova.nidhishah.tests.RegistrationPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.LoginPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.SearchPageTests"></class>-->
<!--            <class name="com.alexnova.nidhishah.tests.ProductAddTOCartTests"></class>-->
            <class name="com.alexnova.nidhishah.tests.CheckoutTests"></class>
        </classes>
    </test>
</suite>